@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Veterinaria ITM</h1>
    <p>Web Services</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card my-2 bg-primary text-white" style="cursor: pointer;" onclick="window.location.href='/Farmacia'">
                <div class="card-header">
                    Farmacias
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-2 bg-primary text-white" style="cursor: pointer;" onclick="window.location.href='/Proveedor'">
                <div class="card-header">
                    Proveedores
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-2 bg-primary text-white" style="cursor: pointer;" onclick="window.location.href='/Herramienta'">
                <div class="card-header">
                    Herramientas
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-2 bg-primary text-white" style="cursor: pointer;" onclick="window.location.href='/Medicamento'">
                <div class="card-header">
                    Medicamentos
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-2 bg-primary text-white" style="cursor: pointer;" onclick="window.location.href='/Sede'">
                <div class="card-header">
                    Sedes
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-2 bg-primary text-white" style="cursor: pointer;" onclick="window.location.href='/Consultorio'">
                <div class="card-header">
                    Consultorios
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-2 bg-success text-white" style="cursor: pointer;" onclick="window.location.href='/Servicio'">
                <div class="card-header">
                    Servicios
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-2 bg-success text-white" style="cursor: pointer;" onclick="window.location.href='/Cita'">
                <div class="card-header">
                    Citas
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/sesion.js"></script>